<div id="block-yulearn-user-content" class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="d-flex align-items-center justify-content-center">
                <img src="{{{userImage}}}" class="rounded-circle" style="alignment-adjust: c">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="d-flex align-items-center justify-content-center">
                <h5>{{{fullName}}}</h5>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="d-flex align-items-center justify-content-center text-wrap department-title">
                <span style="font-size: 0.8em">{{{department}}}</span>
            </div>
        </div>
    </div>
</div>
